.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #F6D6A7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #F4F4F4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #FBE3DF;
}
.grass {
  background-color:#E2F9E1;
}
.water {
  background-color:#E0F1FD;
  
}

a {
  color:black;
  text-decoration: inherit;
}
a:hover {
     color: #00F
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 ;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.thumb-container img {
  width: 120px;
  height: 120px;
}

.dImg {
  width: 226px;
  height: 226px;
}

.thumb-container small,h3 {
  text-transform: capitalize;
}

.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255,255,255,0.3);
}

.pokeDetail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6em;
  flex-direction: column;
  background-color: white;
  border-style: ridge;
  border-color:yellow;
  border-radius: 5px;
  height: 12.500em;
  width: 14.125em;
}

.atribute:nth-child(odd){
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  height: 3.125em;
  width: 14.125em;
  background-color: rgb(178, 241, 178);
}

.atribute:nth-child(even){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  height: 3.125em;
  width: 14.125em;
  background-color: rgb(96, 233, 96);
}

.title-img{
  height: 5em;
}


.pokemon-container {
  margin-top: 10px;
}



p{
  font-size: .8em;
}

.App{
  background-image: linear-gradient( to bottom right, rgb(168, 167, 167), rgb(255, 255, 255));
}

html, body {
  margin: 0;
  padding: 0;
} 

